.footer {
    color: #5c9fb2;
    padding-inline: 20px;
    position: fixed;
    bottom: 0;
    width: 97%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
  }